# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
# Build results
x64/
Debug/
Release/
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.log
*.tlog
*.ipch
*.db

# Other
*.cache
*.vsidx
*.VC.db
_codeql_detected_source_root
